### Linear regression with multiple variables
##### Dataset: ex1data2.txt

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Đọc dữ liệu từ file ex1data2.txt
data = pd.read_csv('ex1data2.txt')
data.head()

     x1  x2       y
0  2104   3  399900
1  1600   3  329900
2  2400   3  369000
3  1416   2  232000
4  3000   4  539900

In [3]:
X = data.values[:, 0:2]
m = len(X)
Y = data.values[:, 2].reshape((m, 1))


# In ra 10 hàng đầu tiên của X
X[0:10, :]

array([[2104,    3],
       [1600,    3],
       [2400,    3],
       [1416,    2],
       [3000,    4],
       [1985,    4],
       [1534,    3],
       [1427,    3],
       [1380,    3],
       [1494,    3]], dtype=int64)

In [4]:
# Thêm 1 cột x0 = 1 vào X
one = np.ones((m, 1))
X = np.append(one, X, axis=1)

In [13]:
# Khởi tạo ma trận theta 3x1
theta = np.zeros((3, 1))

In [14]:
# TODO: Tính hàm cost
def computeCostMultu(X, y, theta):
    m = len(y)
    hypo = X.dot(theta) - y
    hypo_transpose = hypo.transpose()
    J = (1/(2*m))*(hypo_transpose.dot(hypo))

    return J
# TODO: Thực hiện gradient descent